# Backend API URL
REACT_APP_API_URL=http://localhost:5000/api

# Public IPFS Gateway prefix for direct viewing
REACT_APP_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

# Supported Blockchain Chain ID (31337 = Hardhat Localhost, 11155111 = Ethereum Sepolia)
REACT_APP_DEFAULT_CHAIN_ID=31337
REACT_APP_DEFAULT_CHAIN_NAME="Hardhat Localhost"

# Deployed FileRegistry Contract Address
REACT_APP_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
